build.gradle
.idea
.gradle
target
app/build
gui/build
shared/build
terminal/ports/build
terminal/adapters/build
terminal/business/build
monitors/ports/build
monitors/adapters/build
monitors/business/build
