<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FIX Terminal</title>
    <meta http-equiv="refresh" content="5" >

    <!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<span th:text="' heart : ' + ${heartBB}"></span>
<br>
<p><a href="/about" target="index" >About FIX Terminal</a></p>
<br>
<p> - SERVER OPTIONS - </p>
<p><a href="/start" target="_blank">Start and login / logs</a></p>
<p><a href="/logout" target="_blank">Logout / logs</a></p>
<p><a href="/settings" target="_blank">Settings</a></p>
<br>
<p> - MONITORS OPTIONS - </p>
<p><a href="/monitors" target="_blank">Monitors list</a></p>
<br>
<p> - DICTIONARIES - </p>
<p><a href="/dic-brokers" target="_blank">Brokers</a></p>
<p><a href="/dic-instruments" target="_blank">Instruments</a></p>
<br>
<p> Trading by default instrument </p>
<p><a href="/trade-parameters" target="index">Trade parameters</a></p>
<p><a href="/command?cmd=buy&instrument=1" target="index">Buy by market</a></p>
<p><a href="/command?cmd=sell&instrument=1" target="index">Sell by market</a></p>
<p><a href="/command?cmd=close&instrument=1" target="index" >Close</a></p>
<p><a href="/command?cmd=breakeven&instrument=1" target="index" >Breakeven</a></p>


</body>
</html>