<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About FIXTerminal</title>

<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
<br>
<p>"'FIXTerminal command line tool for FOREX scalping.'"</p>
<br>
<span th:text="'ENGINE : ' + ${fixEngineInfo}"></span>
<p>"'https://www.quickfixj.org/documentation/license.html'"</p>
<br>
<p>"'author: Robert Homa '"</p>
<p>"'email : roberthoma@yahoo.com'"</p>
<br>
<a href="/">Back to Home Page</a>
</body>

</html>